/*HEADER*/

.navbar-collapse, .navbar-brand {
    height: 5rem;
    text-transform: uppercase;
    font-size: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.navbar-brand {
    margin-top: 1rem;
}

/*BANNER-TEXT*/
.main-banner {
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px 8px white inset;

}

.main-banner-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: calc(4rem + 4vw);
    letter-spacing: 10px;
    text-align: center;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.99);
}

/*FORMS*/

form {
    padding: 3rem;
}

/*MAIN-ABOUT*/

#about>p {
    justify-content: flex-start;
    font-size: 2rem;
}

figcaption {
    height: 5rem;
    text-transform: uppercase;
    font-size: calc(0.5rem + 0.5vw);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

h1 {
    padding: 2rem;
    text-transform: uppercase;
    justify-items: center;
}

/*ARTIST PICTURES*/

.artist_photos {
    border-radius: 15px;
}

/*BANNER PICTURES*/
#homemade_craft_banner {
    background-image: url(./assets/composition-different-objects-fathers-day.jpg);
}

#catalog_banner {
    background-image: url(./assets/tags-with-string-scissors.jpg);
}

#custom_order_banner {
    background-image: url(./assets/macrame-arrangement-with-copy-space.jpg);
}

#contact_me_banner {
    background-image: url(./assets/technology-empty-coffee-envelope-message.jpg);
}




